.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    // background-color: rgba(221, 207, 207,0.8);
  }

  .orders {
    position: relative;
    text-align: center;
    padding: 10px;
    background: white;
    // background-image: var(--main-color);
    box-shadow: 0px 0px 3px 5px rgb(194, 181, 181, 0.5);
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 80%;
    min-height: 25vh;
    max-height: fit-content;
    border-radius: 5px;
  }

.bold{
    font-weight: bold;
}

.margin-t-b {
    margin: 10px 0 10px 0
}