.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  // transition:opacity 3s ease-in;
}

input {
  text-align: center;
}

.addButton {
  background-color: blue;
  border: none;
  padding: 5px;
}

.updateButton {
  background-color: rgb(198, 198, 34);
  color: white;
  border: none;
  padding: 5px;
}

.ordersButton{
  position: absolute;
  top: 50px;
  left: 10px;
  background: rgb(132, 0, 255, 1);
  padding: 5px;
  border: none;
}

.ordersButton:hover{
  background: rgb(132, 0, 255, 0.7);;
}

.mainContainer {
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(221, 207, 207, 0.3),
    rgba(184, 154, 154, 0.9)
  );
  transition: opacity 1s ease-out;
}

.fade {
  opacity: 0;
}

// @starting-style {
//     .flexCol {
//       opacity: 0;
//     }
// }
