<div class="mainContainer">
  <div *ngIf="isLoading" class="loadingSpinner">*</div>
  <ng-template [ngIf]="error">
    <div class="errorContainer">
      {{ this.showErrorAlert() }}
      <button (click)="clearError()" type="button">Rendben</button>
    </div>
  </ng-template>
  <ng-container *ngIf="products.length > 0">
    <div class="products" *ngFor="let product of products">
      <h4>{{ product.name }}</h4>
      <div>
        <img
          *ngIf="product.photoUrl"
          [src]="product.photoUrl"
          [alt]="product.name"
        />
      </div>
      <span *ngIf="product.price">{{ product.price }} Ft</span>
      <p>{{ product.description }}</p>
      <p *ngIf="product.available">Elérhető: {{ product.available }} db</p>
      <div class="basketButtonContainer">
        <div class="order-quantity-container">
          <input
            placeholder="Db"
            class="order-quantity-input"
            name="order-quantity"
            [(ngModel)]="product.orderQuantity"
            type="number"
            min="1"
          />
        </div>
        <button
          (click)="toBasket(product)"
          class="toBasketButton"
          type="button"
        >
          Kosárba <i class="bi bi-cart4"></i>
        </button>
      </div>
    </div>
  </ng-container>
</div>

<div [ngClass]="!isPutToBasket ? 'd-none' : ''" class="modal">
  <div class="close-modal-container">
    <button (click)="isPutToBasket = false" class="close-modal" type="button">
      &times;
    </button>
  </div>
  <h1>{{ product.name }}</h1>
  <h3>{{ product.orderQuantity }} db</h3>
  <p>Sikeresen kosárba helyezve!</p>
  <button (click)="isPutToBasket = false" type="button">
    Folytatom a vásárlást
  </button>
</div>
<div [ngClass]="!isPutToBasket ? 'd-none' : ''" class="overlay"></div>
