<div class="searchContainer">
  <label for="">Termék keresése</label>
  <input [(ngModel)]="searchStr" name="searchInput" type="text" />
  <button (click)="searchProduct()" type="button">Keresés <i class="bi bi-search"></i></button>
</div>

<div class="categoriesContainer">
  <button
    [routerLink]="['/subcategories/' + category.key + '-' + category.link]"
    *ngFor="let category of categories"
    type="button"
  > <ng-container *ngFor="let icon of icons"><i *ngIf="category.key === icon.key" class="bi {{icon.value}}"></i></ng-container>
    {{ category.value }}
  </button>
</div>

<h2 style="text-align: center">KIEMELT AKCIÓS TERMÉKEK</h2>

<div *ngIf="!isSearchOn" class="slider">
  <div class="mainContainer">
    <div *ngIf="isLoading" class="loadingSpinner">*</div>
    <ng-template [ngIf]="error">
      <div class="errorContainer">
        {{ this.showErrorAlert() }}
        <button (click)="clearError()" type="button">Rendben</button>
      </div>
    </ng-template>
    <div class="left-arrow"><span *ngIf="isLeftArrow" (click)="toLeft()"><</span></div>
    <ng-container *ngFor="let product of shownFeaturedProducts">
      <ng-container *ngIf="product.featured && product.discount">
        <div class="products">
          <h5>Akció: {{ product.discount }}%</h5>
          <div class="imgContainer">
            <img
            *ngIf="product.photoUrl"
            [src]="product.photoUrl"
            [alt]="product.name"
            />
          </div>
          <h4>{{ product.name }}</h4>
          <span *ngIf="product.price">{{ product.price }} Ft</span>
          <p>{{ product.description }}</p>
          <p *ngIf="product.available">Elérhető: {{ product.available }} db</p>
          <div>
            <input placeholder="Db" class="order-quantity-input" name="order-quantity" [(ngModel)]="product.orderQuantity" type="number">
          </div>
          <button
            class="toBasketButton"
            (click)="toBasket(product)"
            type="button"
          > 
            Kosárba
            <i class="bi bi-cart4"></i>
          </button>
        </div>
      </ng-container>
    </ng-container>
    <div class="right-arrow"><span *ngIf="isRightArrow" (click)="toRight()">></span></div>
  </div>

</div>


<div *ngIf="isSearchOn" class="mainContainer">
  <div *ngIf="isLoading" class="loadingSpinner">*</div>
  <ng-template [ngIf]="error">
    <div class="errorContainer">
      {{ this.showErrorAlert() }}
      <button (click)="clearError()" type="button">Rendben</button>
    </div>
  </ng-template>
  <ng-container *ngFor="let product of filteredProducts">
    <div class="products">
      <h4>{{ product.name }}</h4>
      <h5 *ngIf="product.discount">Akció: {{ product.discount }}%</h5>
      <div class="imgContainer">
        <img
          *ngIf="product.photoUrl"
          [src]="product.photoUrl"
          [alt]="product.name"
        />
      </div>
      <span *ngIf="product.price">{{ product.price }} Ft</span>
      <p>{{ product.description }}</p>
      <p *ngIf="product.available">Elérhető: {{ product.available }} db</p>
    </div>
  </ng-container>
</div>

<div [ngClass]="!isPutToBasket ? 'd-none' : ''" class="modal">
  <button (click)="isPutToBasket = false" class="close-modal" type="button">
    &times;
  </button>
  <h1>{{ product.name }}</h1>
  <h3>{{ product.orderQuantity }} db</h3>
  <p>Sikeresen kosarba helyezve!</p>
  <button (click)="isPutToBasket = false" type="button">
    Folytatom a vasarlast
  </button>
</div>
<div [ngClass]="!isPutToBasket ? 'd-none' : ''" class="overlay"></div>
