.desktop-nav {
  position: fixed;
  z-index: 2;
  max-width: 100%;
  font-size: 1.5rem;
  top: 0;
  background-image: var(--nav-color);
  padding: 5px 0px 5px 0;
  border-radius: 0 0 30px 0;
  a {
    color: var(--nav-items-color);
    padding: 5px;
  }
  a:hover {
    background: var(--nav-hover-color);
  }
  a:last-child {
    padding-right: 15px;
    border-radius: 0 0 30px 0;
  }
}

.mobile-nav-container {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  a {
    transition: transform 2s ease;
    // color: var(--nav-items-color);
    color: black;
    padding: 5px;
    border-radius: 3px 0 0 3px;
  }
  a:hover {
    background: var(--nav-hover-color);
  }
}

.mobile-nav {
  display: none;
}

.cart-container {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 12px;
  right: 15px;
  font-size: 1.5rem;
  border-radius: 5px;
  i {
    font-size: 1.8rem;
    color: rgb(231, 153, 9);
  }
  span {
    font-weight: bolder;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    background: rgb(255, 255, 0);
    border-radius: 50%;
    width: 10px;
    color: darkgreen;
  }
}

.line {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 50px;
  height: 5px;
  background: black;
  transition: transform 3s ease;
}

.hamb-opened-1 {
  transform: rotateZ(50deg) translateX(22px) translateY(-10px);
}
.hamb-opened-2 {
  display: none;
}
.hamb-opened-3 {
  transform: rotateZ(-50deg) translateX(-2px) translateY(-10px);
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .desktop-nav {
    max-width: 90%;
    font-size: 1rem;
  }
  .cart-container {
    font-size: 1rem;
    top: 13px;
  }
}

@media screen and (max-width: 439px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    margin-top: 20px;
  }
}
