form {
  flex: 1 1 auto;
}

.title-cont {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-container {
  margin-top: 50px;

  h3 {
    width: fit-content;
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid black;
  }
}

#basic-rights {
  accent-color: rgb(28, 0, 128);
  width: 1.2rem;
  height: 1.2rem;
}

#admin-rights {
  accent-color: rgb(74, 44, 182);
  width: 1.2rem;
  height: 1.2rem;
}

.user-container {
  color: beige;
  text-align: center;
  background: rgb(7, 7, 124, 0.7);
  border-radius: 50px 50px 0 0;
}
.claims-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.claims-change-btn {
  //   background: rgb(241, 199, 62);
  background-image: linear-gradient(
    to top,
    rgb(219, 219, 29, 0.7),
    rgb(236, 170, 48, 0.7)
  );
  border: none;
  color: rgb(255, 255, 255);
}

.back-button-cont {
  position: absolute;
  left: 75px;

  button {
    position: relative;
    bottom: 2px;
    color: rgb(117, 41, 41);
    background: transparent;
  }
  button:hover {
    background: rgb(22, 121, 27, 0.6);
  }
}
