<div class="mainContainer">
  <!-- <div *ngIf="isLoading" class="loadingSpinner">*</div>
    <ng-template [ngIf]="error">
      <div class="errorContainer">
        {{ this.showErrorAlert() }}
        <button (click)="clearError()" type="button">Rendben</button>
      </div>
    </ng-template> -->
  <h2>Megrendeléseim</h2>
  <ng-container *ngFor="let order of ordersCopy">
    <div class="orders">
      <span class="date">{{ order.orderDate }}</span>
      <h3 class="bold">
        {{
          order._personalDetails.surName +
            " " +
            order._personalDetails.firstName
        }}
      </h3>
      <br />
      <span class="bold">Statusz: </span>
      <span>{{ order.status }}</span>
      <br />
      <span class="bold">Szállítási cím: </span>
      <span>{{ order._personalDetails.address }}</span>
      <br />
      <span class="bold">Email: </span>
      <span>{{ order._personalDetails.email }}</span>
      <br />
      <span class="bold">Telefonszám: </span>
      <span>{{ order._personalDetails.phoneNumber }}</span>
      <br />

      <span class="bold">Fizetés: </span>
      <span *ngIf="order._paymentType === 'cash'">Készpénz</span>
      <span *ngIf="order._paymentType === 'transfer'">Átutalás</span>
      <span *ngIf="order._paymentType === 'bank-card'">Bankkártya</span>
      <br />
      <span class="bold">Atvetel típusa: </span>
      <span *ngIf="order._deliveryType === 'package-point'"> Csomagpont </span>
      <p *ngIf="order._deliveryType === 'package-point'">
        {{ order._packagePoint }}
      </p>
      <span *ngIf="order._deliveryType === 'delivery'">Utánvét</span>
      <span *ngIf="order._deliveryType === 'personal'">Személyes</span>

      <h3 class="margin-t-b">Termékek</h3>
      <ng-container *ngFor="let prod of order.products">
        <div>
          <span> {{ prod.name }} </span>
          <span> {{ prod.orderQuantity }} Db</span>
          <span> {{ prod.price }} Ft</span>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
